* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  /*Fontes*/
  --ff-heading: 'Epilogue', sans-serif;
  --ff-texting: 'Open sans', sans-serif;
  --fs-body:1.6rem;
  /*Com o clamp declaramos valor mínimo, desejado e máximo de acordo com o espaço da caixa criando assim pontos de quebras para os elementos não vazar*/
  --fs-heading: clamp(4rem, 1rem + 5vw, 5.6rem); 
  --fs-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem); 
  
  /*Cores*/
  --hue: 250;
  --bg-primary: hsl(var(--hue), 22%, 20%);
  --fc-primary: hsl(var(--hue), 0%, 100%);
  --fc-secondary: hsl(var(--hue), 50%, 80%);
  --fc-secondary-dark: hsl(var(--hue), 100%, 11%, 1%);

  /*Calciço para numero floats*/
  font-size: 62.5%;
}

body {
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);
}

/*Caixa do cabeçalho*/
header {
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);
  text-align: center;
}

/*Primeiro elemento*/
header p {
  color: var(--fc-secondary);
  text-transform: uppercase;
  font-size: var(--fs-body);
  font-weight: 400;
  
  line-height: 3.2rem;
  letter-spacing: 3px;

  margin-bottom: 1.7rem;
}

/*Segundo elemento*/
header h1 {
  font-weight: 800;
  line-height: 4.8rem;
  font-size: var(--fs-heading);
}

/*Espaçamentos das caixas*/
main {
display: grid;
gap: 3.2rem;
}
/*----------- Fim cabeçalho ---------*/

/*----------- Main ------------------*/

.pag { /*Tamanho e posicionamento*/
  max-width: 33.3rem;
  margin: 0 auto;
}

img {
  /*Contemos a imagem dentro da caixa*/
  width: 100%;
  height: auto;
}

.card {
  /*Deixamos a posição relativas para os itens contido neste container*/
  position: relative;

  font-family: var(--ff-heading);
}

/*A imagem ocupada toda caixa em se*/
.card img {
  height: 41.6rem;
  /*É uma forma de posiciona a imagem dentro da caixa ao meche no tamanho do container*/
  object-fit: cover;
  border-radius: 6px;

  /*Tempo de transição do aumento da escala da imagem*/
  transition: all 300ms;

  /*Podemos usar filtros e um valor com diversos elementos de filtros*/
  filter: brightness(0.8) saturate(0.8);
}

/*Ao passar o mouse no Card*/
.card img:hover {
/*Aquie ele aumenta a escala da imagem em 10% do tamanho original, sendo escala 1 100%*/
transform: scale(1.1);
opacity: 0.6;

}

.card h2 {
  /*Posicionamento sobre o container*/
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;

  font-size: var(--fs-heading-sm);
  font-weight: 800;

  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2.8rem;

}

/*Bloquinho do Card*/
.card h2 span {

color: black;
border-radius: 2rem;
background-color: var(--fc-primary);
font-size: var(--fs-body);
font-weight: 400;

padding: 0 1.6rem;
width: fit-content; /*Isso contem o conteúdo na caixa*/
height: 3.8rem;

display: flex;
align-items: center;

}

/*Animação*/
@keyframes nome {

  0% {
    opacity: 0;
    /*Translate Y por que é na vertical*/
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*Aplicação da animação*/
header {
  /*Chamando a animação*/
  animation-name: nome;
  /*Duração da animação*/
  animation-duration: 800ms;

  /*Diração da animação, pode ser normal ou reversa*/
  animation-direction: normal;

  /*Em quanto tempo a animação vai começar*/
  animation-delay: 200ms;

}

/*------------Versão para tablete -------------------*/

@media (min-width:700px) {
  :root {
    --fs-heading:3.6rem
  }
  
  .pag {
    max-width: 117rem;
    padding: 0 5rem;
  }
  
  main {
    grid-template-columns: 1fr 1fr;
  }
}


/*------------Versão Desktop--------------*/

@media (min-width: 930px) { /*Apartir de xxx*/

  main {
    /*Definimos a quantidade de colunas e linhas*/
    grid-template-areas: "A B B" "C C D";
  }
  

  /*Aqui nomeamos os card especificando que Area cada um representa*/

  /*Primeiro card*/
  main div:nth-child(1) {
    grid-area: A;
  }

  /*Segundo card*/
  main div:nth-child(2) {
    grid-area: B;
  }

  /*Terceiro card*/
  main div:nth-child(3) {
    grid-area: C;
  }

  /*Quarto card*/
  main div:nth-child(4) {
    grid-area: D;
  }
}